<div class="container-xl" >
    <div class="row p-3">
        <div class="col">
           <div class="holder-board">
<div class="row">
    <div class="col">
       <div class="text">
        <h1 >All events are here</h1>

       </div>
    </div>
 <div class="inner-box">   <div class="row">
    <div class="col">
     <div class="d-flex flex-row justify-content-center">
        <div class="col d-flex flex-row justify-content-center">
            <div class="holder-add text-center">
                <h1 style="font-size: 25px; margin-bottom: 10px;">
                    All events
                </h1>
                <a [routerLink]="'/all-events'"><i class="pi pi-table

                   "></i>
                </a>
                   </div>
        </div>
        <div class="col d-flex flex-row justify-content-center">
            <div>
                <div>
  <!-- <h2>Event Countdown</h2> -->
  <!-- <p>{{ remainingTime }}</p> -->
</div>
            </div>
        </div>
        <div class="col d-flex flex-row justify-content-center">
            <div class="holder-add text-center">
                <h1 style="font-size: 25px; margin-bottom: 10px;">
                    Add events
                 </h1>
         <a [routerLink]="'/add-events'"><i class="pi pi-calendar-plus
            "></i>
         </a>
            </div>
        </div>
     </div>
    </div>
</div></div>
</div>

           </div>

        </div>
    </div>
</div>