::ng-deep{
    .p-paginator {
        display: flex
    ;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        background:transparent
    }
    .p-datatable .p-datatable-tbody > tr > td {
        text-align: left;
        border: 1px solid #e5e7eb;
        border-width: 0 0 1px 0;
        padding: 1rem 1rem;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        line-height: 18.47px;
        text-align: left;
        color: #292929;
        &:nth-last-child(5) {
          word-break: break-word;
        }
      }
}
.icon-actions{
    background: transparent;
    border: none;
    outline: none;

}