::ng-deep{
    .p-paginator {
        display: flex
    ;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        background:transparent
    }
    .p-datatable .p-datatable-tbody > tr > td {
        text-align: left;
        border: 1px solid #e5e7eb;
        border-width: 0 0 1px 0;
        padding: 1rem 1rem;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        line-height: 18.47px;
        text-align: left;
        color: #292929;
        &:nth-last-child(5) {
          word-break: break-word;
        }
      }
}
.icon-actions{
    background: transparent;
    border: none;
    outline: none;

}
.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    color: #c3c3c3;
  }


  :host ::ng-deep {
    .p-paginator .p-paginator-pages {
        @apply flex gap-x-2 ;
      }

    .p-paginator .p-paginator-pages .p-paginator-page {
      @apply transition-all duration-200 ease-in-out  text-gray-700 border-2 border-transparent rounded-3xl ;
    }

    .p-paginator .p-paginator-pages .p-paginator-page:hover {
      @apply bg-gray-200 text-black  border-gray-400 ;
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
      @apply bg-gray-300 text-black  border-gray-400 font-semibold ;
    }
  }



