<div class="container-xl">
    <div class="row p-5">
        <p-toast
    [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'"
    [showTransformOptions]="'translateX(100%)'"
  />
  <div *ngIf="loading" class="spinner-container" style="color: #c3c3c3 !important;">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
      <div class="col" *ngIf="!loading">
        <h6>total={{ totalRecords }}</h6>
        <p-table      [value]="events"
        [totalRecords]="totalRecords"
        [rows]="rows"
        [paginator]="true"
        [lazy]="true"
        [(first)]="first"
[showFirstLastIcon]="false"
        [loading]="loading"
        (onLazyLoad)="onPageChange($event)"
        [tableStyle]="{ 'min-width': '60rem' }"
        [responsive]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>Name Event</th>
              <th>Time Event</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-event>
            <tr  [ngStyle]="{
              'background-color': event.isExpiredDate ? '#f8d7da' : '#d4edda',
              'color': event.isExpiredDate ? 'red' : 'green'
            }">
              <td>{{ event.eventName }}</td>
              <td>{{ event.eventDate | date: 'yyyy-MM-dd HH:mm:ss a' }}</td>

              <td>
              <div>
                <button class="pr-2" [routerLink]="'../edit-events/'+event?._id" ><i class="pi pi-pencil                  " ></i>
                </button>
                <button class="pr-2" (click)="send(event)"><i class="pi pi-bell "></i>
                </button>

                <button class="pr-2" (click)="delete(event._id)" ><i class="pi pi-trash" style="color: red"></i>
                </button>
              </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="3" class="text-center" *ngIf="events.length===0">
                <h1>No Found Events</h1>
              </td>
            </tr>
          </ng-template>

        </p-table>

      </div>
    </div>
  </div>
