<div class="p-3 holder">
    <div class="container">

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top ">

            <div class=" col-md-4 d-flex align-items-center">
                <span class="copyrights"
                  >© {{ currentYear }} Abdullah Hassan Khormi ​</span
                >
              </div>
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                   <a href="mailto:akhormi.1@outlook.com" target="_blank"><img src="../../../../assets/footer/email.webp" ></a>
                </li>
                <li class="ms-3">
                   <a href="https://www.linkedin.com/in/abdullah-khormi-1535611a7/ " alt="LinkedIn" target="_blank"><img src="../../../../assets/footer/linkedin.webp" ></a>
                </li>

              </ul>


            </footer>

    </div>
</div>