/* global styles.css */
html, body {
  height: 100%; /* يجعل الصفحة تأخذ كامل الارتفاع */
  margin: 0; /* يزيل المسافة الافتراضية */
  display: flex;
  flex-direction: column; /* ترتيب العناصر عموديًا */
}

.container {
  flex: 1; /* يجعل المحتوى الرئيسي يأخذ المساحة المتاحة */
}

footer {
  margin-top: auto; /* يدفع الفوتر إلى الأسفل إذا لم يكن المحتوى كافيًا */
}
