<header *ngIf="show"><app-header></app-header></header>
<div class="container-fluid d-flex justify-content-center align-items-center" [ngStyle]="{'height': show ? '75vh' : '100vh'}"
>
<p-toast
[showTransformOptions]="'translateY(100%)'"
[showTransitionOptions]="'1000ms'"
[hideTransitionOptions]="'1000ms'"
[showTransformOptions]="'translateX(100%)'"
/>
    <div class="col-md-4">
      <h2 class="text-center mb-4" style="color: #6c757d;">Create a New Account</h2>

      <form [formGroup]="registerForm">
        <div class="form-holder">

          <!-- Username Field -->
          <div class="mb-3">
            <input
              type="text"
              formControlName="username"
              class="form-control"
              placeholder="UserName"
              required>
            <div *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid" class="text-danger">
              <div *ngIf="registerForm.get('username')?.hasError('required')">Username is required.</div>
            </div>
          </div>

          <!-- Email Field -->
          <div class="mb-3">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="Email"
              required>
            <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="text-danger">
              <div *ngIf="registerForm.get('email')?.hasError('required')">Email is required.</div>
              <div *ngIf="registerForm.get('email')?.hasError('email')">Invalid email format.</div>
            </div>
          </div>

          <!-- Password Field -->
          <div class="mb-3">
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Password"
              required>
            <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" class="text-danger">
              <div *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</div>
            </div>
          </div>
          <!--roles-->
          <div class="mb-3" *ngIf="showRoles">
            <input
              type="text"
              formControlName="roles"
              class="form-control"
              placeholder="Roles"
              value="admin"
              >
            <div *ngIf="registerForm.get('roles')?.touched && registerForm.get('roles')?.invalid" class="text-danger">
              <div *ngIf="registerForm.get('roles')?.hasError('required')">Role is required.</div>
            </div>
          </div>
          <!-- Buttons -->
          <div class="gap-2 d-flex">
            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid" (click)="sendForm()">Create Account</button>
            <button type="button" class="btn btn-secondary" (click)="registerForm.reset()">Reset</button>
            <button type="button" class="btn btn-danger " ><a [routerLink]="'../'" class="no-underline text-[#fff]">Cancel</a></button>

          </div>
        </div>
      </form>
    </div>
  </div>
